@{
    ViewData["Title"] = "Home Page";
}

<h2 class="display-4" id="apresentacao"></h2>
<p>The best webapp for shortening the url of your website!</p>

<hr style="background-color:dimgrey" />

<form method="post" asp-controller="Home" asp-action="Cadastrar">
    <label for="basic-url"> Type your URL: </label>
    <div class="input-group mb-3" style="width:77%">
        <input type="text" class="form-control" placeholder="https://YourWebsite.com" 
               aria-label="Recipient's username" aria-describedby="button-addon2"
               name="url" autocomplete="off" required autofocus>
        <div class="input-group-append">
            <button class="btn btn-primary" id="button-addon2">
                Confirm
            </button>
        </div>
    </div>

</form>