@{
    ViewData["Title"] = "Home Page";
}

<h2 class="display-4"> Welcome  </h2>
<p>The best webapp for shortening the url of your website!</p>
<hr style="background-color:gray" />

<form>
    <label for="basic-url"> Type your URL: </label>
    <div class="input-group mb-3" style="width:67%">
        <input type="text" class="form-control" placeholder="https://yourWebsite.com" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="button-addon2">
                Button
            </button>
        </div>
    </div>

</form>